In [1]:
import numpy as np 
import pandas as pd

In [6]:
import os

data_dir = r'C:\Users\hp\Downloads\DataViz M2\st-dashboard\data'
data_files = ['2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv']

# dict to store DFs
dataframes = {}

# going thru the files
for i, file_name in enumerate(data_files):
    file_path = os.path.join(data_dir, file_name)
    dataframes[f'df_{i+1}'] = pd.read_csv(file_path)


for key, df in dataframes.items():
    print(f"DataFrame {key} loaded with shape: {df.shape}")

DataFrame df_1 loaded with shape: (158, 13)
DataFrame df_2 loaded with shape: (157, 14)
DataFrame df_3 loaded with shape: (155, 13)
DataFrame df_4 loaded with shape: (156, 10)
DataFrame df_5 loaded with shape: (156, 10)

In [11]:
dataframes['df_1'].isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

In [12]:
dataframes['df_1'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
 12  Year                           158 non-null    int64
dtypes: float64(9), int64(2), object(2)
memory usage: 16.2+ KB

In [13]:
dataframes['df_2'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Year                           157 non-null    int64
dtypes: float64(10), int64(2), object(2)
memory usage: 17.3+ KB

In [14]:
dataframes['df_3'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
 12  Year                           155 non-null    int64
dtypes: float64(10), int64(2), object(1)
memory usage: 15.9+ KB

In [15]:
dataframes['df_4'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [16]:
dataframes['df_5'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [18]:
dataframes

{'df_1':          Country                           Region  Happiness Rank  \
 0    Switzerland                   Western Europe               1
 1        Iceland                   Western Europe               2
 2        Denmark                   Western Europe               3
 3         Norway                   Western Europe               4
 4         Canada                    North America               5
 ..           ...                              ...             ...
 153       Rwanda               Sub-Saharan Africa             154
 154        Benin               Sub-Saharan Africa             155
 155        Syria  Middle East and Northern Africa             156
 156      Burundi               Sub-Saharan Africa             157
 157         Togo               Sub-Saharan Africa             158

      Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
 0              7.587         0.03411                   1.39651  1.34951
 1              7.561         0.04884                   1.30232  1.40223
 2              7.527         0.03328                   1.32548  1.36058
 3              7.522         0.03880                   1.45900  1.33095
 4              7.427         0.03553                   1.32629  1.32261
 ..               ...             ...                       ...      ...
 153            3.465         0.03464                   0.22208  0.77370
 154            3.340         0.03656                   0.28665  0.35386
 155            3.006         0.05015                   0.66320  0.47489
 156            2.905         0.08658                   0.01530  0.41587
 157            2.839         0.06727                   0.20868  0.13995

      Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
 0                     0.94143  0.66557                        0.41978
 1                     0.94784  0.62877                        0.14145
 2                     0.87464  0.64938                        0.48357
 3                     0.88521  0.66973                        0.36503
 4                     0.90563  0.63297                        0.32957
 ..                        ...      ...                            ...
 153                   0.42864  0.59201                        0.55191
 154                   0.31910  0.48450                        0.08010
 155                   0.72193  0.15684                        0.18906
 156                   0.22396  0.11850                        0.10062
 157                   0.28443  0.36453                        0.10731

      Generosity  Dystopia Residual  Year
 0       0.29678            2.51738  2015
 1       0.43630            2.70201  2015
 2       0.34139            2.49204  2015
 3       0.34699            2.46531  2015
 4       0.45811            2.45176  2015
 ..          ...                ...   ...
 153     0.22628            0.67042  2015
 154     0.18260            1.63328  2015
 155     0.47179            0.32858  2015
 156     0.19727            1.83302  2015
 157     0.16681            1.56726  2015

 [158 rows x 13 columns],
 'df_2':          Country                           Region  Happiness Rank  \
 0        Denmark                   Western Europe               1
 1    Switzerland                   Western Europe               2
 2        Iceland                   Western Europe               3
 3         Norway                   Western Europe               4
 4        Finland                   Western Europe               5
 ..           ...                              ...             ...
 152        Benin               Sub-Saharan Africa             153
 153  Afghanistan                    Southern Asia             154
 154         Togo               Sub-Saharan Africa             155
 155        Syria  Middle East and Northern Africa             156
 156      Burundi               Sub-Saharan Africa             157

      Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
 0              7.526                      7.460                      7.592
 1              7.509                      7.428                      7.590
 2              7.501                      7.333                      7.669
 3              7.498                      7.421                      7.575
 4              7.413                      7.351                      7.475
 ..               ...                        ...                        ...
 152            3.484                      3.404                      3.564
 153            3.360                      3.288                      3.432
 154            3.303                      3.192                      3.414
 155            3.069                      2.936                      3.202
 156            2.905                      2.732                      3.078

      Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
 0                     1.44178  1.16374                   0.79504  0.57941
 1                     1.52733  1.14524                   0.86303  0.58557
 2                     1.42666  1.18326                   0.86733  0.56624
 3                     1.57744  1.12690                   0.79579  0.59609
 4                     1.40598  1.13464                   0.81091  0.57104
 ..                        ...      ...                       ...      ...
 152                   0.39499  0.10419                   0.21028  0.39747
 153                   0.38227  0.11037                   0.17344  0.16430
 154                   0.28123  0.00000                   0.24811  0.34678
 155                   0.74719  0.14866                   0.62994  0.06912
 156                   0.06831  0.23442                   0.15747  0.04320

      Trust (Government Corruption)  Generosity  Dystopia Residual  Year
 0                          0.44453     0.36171            2.73939  2016
 1                          0.41203     0.28083            2.69463  2016
 2                          0.14975     0.47678            2.83137  2016
 3                          0.35776     0.37895            2.66465  2016
 4                          0.41004     0.25492            2.82596  2016
 ..                             ...         ...                ...   ...
 152                        0.06681     0.20180            2.10812  2016
 153                        0.07112     0.31268            2.14558  2016
 154                        0.11587     0.17517            2.13540  2016
 155                        0.17233     0.48397            0.81789  2016
 156                        0.09419     0.20290            2.10404  2016

 [157 rows x 14 columns],
 'df_3':                       Country  Happiness.Rank  Happiness.Score  Whisker.high  \
 0                      Norway               1            7.537      7.594445
 1                     Denmark               2            7.522      7.581728
 2                     Iceland               3            7.504      7.622030
 3                 Switzerland               4            7.494      7.561772
 4                     Finland               5            7.469      7.527542
 ..                        ...             ...              ...           ...
 150                    Rwanda             151            3.471      3.543030
 151                     Syria             152            3.462      3.663669
 152                  Tanzania             153            3.349      3.461430
 153                   Burundi             154            2.905      3.074690
 154  Central African Republic             155            2.693      2.864884

      Whisker.low  Economy..GDP.per.Capita.    Family  \
 0       7.479556                  1.616463  1.533524
 1       7.462272                  1.482383  1.551122
 2       7.385970                  1.480633  1.610574
 3       7.426227                  1.564980  1.516912
 4       7.410458                  1.443572  1.540247
 ..           ...                       ...       ...
 150     3.398970                  0.368746  0.945707
 151     3.260331                  0.777153  0.396103
 152     3.236570                  0.511136  1.041990
 153     2.735310                  0.091623  0.629794
 154     2.521116                  0.000000  0.000000

      Health..Life.Expectancy.   Freedom  Generosity  \
 0                    0.796667  0.635423    0.362012
 1                    0.792566  0.626007    0.355280
 2                    0.833552  0.627163    0.475540
 3                    0.858131  0.620071    0.290549
 4                    0.809158  0.617951    0.245483
 ..                        ...       ...         ...
 150                  0.326425  0.581844    0.252756
 151                  0.500533  0.081539    0.493664
 152                  0.364509  0.390018    0.354256
 153                  0.151611  0.059901    0.204435
 154                  0.018773  0.270842    0.280876

      Trust..Government.Corruption.  Dystopia.Residual  Year
 0                         0.315964           2.277027  2017
 1                         0.400770           2.313707  2017
 2                         0.153527           2.322715  2017
 3                         0.367007           2.276716  2017
 4                         0.382612           2.430182  2017
 ..                             ...                ...   ...
 150                       0.455220           0.540061  2017
 151                       0.151347           1.061574  2017
 152                       0.066035           0.621130  2017
 153                       0.084148           1.683024  2017
 154                       0.056565           2.066005  2017

 [155 rows x 13 columns],
 'df_4':      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption  Year
 0         0.202                      0.393  2018
 1         0.286                      0.340  2018
 2         0.284                      0.408  2018
 3         0.353                      0.138  2018
 4         0.256                      0.357  2018
 ..          ...                        ...   ...
 151       0.083                      0.064  2018
 152       0.270                      0.097  2018
 153       0.224                      0.106  2018
 154       0.218                      0.038  2018
 155       0.149                      0.076  2018

 [156 rows x 10 columns],
 'df_5':      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption  Year
 0         0.153                      0.393  2019
 1         0.252                      0.410  2019
 2         0.271                      0.341  2019
 3         0.354                      0.118  2019
 4         0.322                      0.298  2019
 ..          ...                        ...   ...
 151       0.217                      0.411  2019
 152       0.276                      0.147  2019
 153       0.158                      0.025  2019
 154       0.235                      0.035  2019
 155       0.202                      0.091  2019

 [156 rows x 10 columns]}

In [20]:
# standard schema
standard_columns = [
    'Country', 'Region', 'Happiness Rank', 'Happiness Score', 'GDP per capita',
    'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity',
    'Perceptions of corruption', 'Year', 'Dystopia Residual'
]

# mapping of column names from each dataset to standard schema
column_mappings = [
    {
        'Country': 'Country',
        'Region': 'Region',
        'Happiness Rank': 'Happiness Rank',
        'Happiness Score': 'Happiness Score',
        'Economy (GDP per Capita)': 'GDP per capita',
        'Family': 'Social support',
        'Health (Life Expectancy)': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust (Government Corruption)': 'Perceptions of corruption',
        'Dystopia Residual': 'Dystopia Residual',
        'Year': 'Year'
    },
    {
        'Country': 'Country',
        'Region': 'Region',
        'Happiness Rank': 'Happiness Rank',
        'Happiness Score': 'Happiness Score',
        'Economy (GDP per Capita)': 'GDP per capita',
        'Family': 'Social support',
        'Health (Life Expectancy)': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust (Government Corruption)': 'Perceptions of corruption',
        'Dystopia Residual': 'Dystopia Residual',
        'Year': 'Year'
    },
    {
        'Country': 'Country',
        'Happiness.Rank': 'Happiness Rank',
        'Happiness.Score': 'Happiness Score',
        'Economy..GDP.per.Capita.': 'GDP per capita',
        'Family': 'Social support',
        'Health..Life.Expectancy.': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust..Government.Corruption.': 'Perceptions of corruption',
        'Dystopia.Residual': 'Dystopia Residual',
        'Year': 'Year'
    },
    {
        'Country or region': 'Country',
        'Overall rank': 'Happiness Rank',
        'Score': 'Happiness Score',
        'GDP per capita': 'GDP per capita',
        'Social support': 'Social support',
        'Healthy life expectancy': 'Healthy life expectancy',
        'Freedom to make life choices': 'Freedom',
        'Generosity': 'Generosity',
        'Perceptions of corruption': 'Perceptions of corruption',
        'Year': 'Year'
    },
    {
        'Country or region': 'Country',
        'Overall rank': 'Happiness Rank',
        'Score': 'Happiness Score',
        'GDP per capita': 'GDP per capita',
        'Social support': 'Social support',
        'Healthy life expectancy': 'Healthy life expectancy',
        'Freedom to make life choices': 'Freedom',
        'Generosity': 'Generosity',
        'Perceptions of corruption': 'Perceptions of corruption',
        'Year': 'Year'
    }
]

# standardize column names across all dataframes
for i, key in enumerate(['df_1', 'df_2', 'df_3', 'df_4', 'df_5']):
    df = dataframes[key]
    column_map = column_mappings[i]
    df.rename(columns=column_map, inplace=True)
    # add missing columns with NaN values
    for col in standard_columns:
        if col not in df.columns:
            df[col] = pd.NA
    # reorder columns to match the standard schema
    df = df[standard_columns]
    dataframes[key] = df

# verify
for key in ['df_1', 'df_2', 'df_3', 'df_4', 'df_5']:
    print(f"DataFrame {key} standardized:")
    print(dataframes[key].head())

DataFrame df_1 standardized:
       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   GDP per capita  Social support  Healthy life expectancy  Freedom  \
0         1.39651         1.34951                  0.94143  0.66557
1         1.30232         1.40223                  0.94784  0.62877
2         1.32548         1.36058                  0.87464  0.64938
3         1.45900         1.33095                  0.88521  0.66973
4         1.32629         1.32261                  0.90563  0.63297

   Generosity  Perceptions of corruption  Year  Dystopia Residual
0     0.29678                    0.41978  2015            2.51738
1     0.43630                    0.14145  2015            2.70201
2     0.34139                    0.48357  2015            2.49204
3     0.34699                    0.36503  2015            2.46531
4     0.45811                    0.32957  2015            2.45176
DataFrame df_2 standardized:
       Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   GDP per capita  Social support  Healthy life expectancy  Freedom  \
0         1.44178         1.16374                  0.79504  0.57941
1         1.52733         1.14524                  0.86303  0.58557
2         1.42666         1.18326                  0.86733  0.56624
3         1.57744         1.12690                  0.79579  0.59609
4         1.40598         1.13464                  0.81091  0.57104

   Generosity  Perceptions of corruption  Year  Dystopia Residual
0     0.36171                    0.44453  2016            2.73939
1     0.28083                    0.41203  2016            2.69463
2     0.47678                    0.14975  2016            2.83137
3     0.37895                    0.35776  2016            2.66465
4     0.25492                    0.41004  2016            2.82596
DataFrame df_3 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0       Norway   <NA>               1            7.537        1.616463
1      Denmark   <NA>               2            7.522        1.482383
2      Iceland   <NA>               3            7.504        1.480633
3  Switzerland   <NA>               4            7.494        1.564980
4      Finland   <NA>               5            7.469        1.443572

   Social support  Healthy life expectancy   Freedom  Generosity  \
0        1.533524                 0.796667  0.635423    0.362012
1        1.551122                 0.792566  0.626007    0.355280
2        1.610574                 0.833552  0.627163    0.475540
3        1.516912                 0.858131  0.620071    0.290549
4        1.540247                 0.809158  0.617951    0.245483

   Perceptions of corruption  Year  Dystopia Residual
0                   0.315964  2017           2.277027
1                   0.400770  2017           2.313707
2                   0.153527  2017           2.322715
3                   0.367007  2017           2.276716
4                   0.382612  2017           2.430182
DataFrame df_4 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0      Finland   <NA>               1            7.632           1.305
1       Norway   <NA>               2            7.594           1.456
2      Denmark   <NA>               3            7.555           1.351
3      Iceland   <NA>               4            7.495           1.343
4  Switzerland   <NA>               5            7.487           1.420

   Social support  Healthy life expectancy  Freedom  Generosity  \
0           1.592                    0.874    0.681       0.202
1           1.582                    0.861    0.686       0.286
2           1.590                    0.868    0.683       0.284
3           1.644                    0.914    0.677       0.353
4           1.549                    0.927    0.660       0.256

   Perceptions of corruption  Year Dystopia Residual
0                      0.393  2018              <NA>
1                      0.340  2018              <NA>
2                      0.408  2018              <NA>
3                      0.138  2018              <NA>
4                      0.357  2018              <NA>
DataFrame df_5 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0      Finland   <NA>               1            7.769           1.340
1      Denmark   <NA>               2            7.600           1.383
2       Norway   <NA>               3            7.554           1.488
3      Iceland   <NA>               4            7.494           1.380
4  Netherlands   <NA>               5            7.488           1.396

   Social support  Healthy life expectancy  Freedom  Generosity  \
0           1.587                    0.986    0.596       0.153
1           1.573                    0.996    0.592       0.252
2           1.582                    1.028    0.603       0.271
3           1.624                    1.026    0.591       0.354
4           1.522                    0.999    0.557       0.322

   Perceptions of corruption  Year Dystopia Residual
0                      0.393  2019              <NA>
1                      0.410  2019              <NA>
2                      0.341  2019              <NA>
3                      0.118  2019              <NA>
4                      0.298  2019              <NA>

In [22]:
dataframes['df_1'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    158 non-null    object
 1   Region                     158 non-null    object
 2   Happiness Rank             158 non-null    int64
 3   Happiness Score            158 non-null    float64
 4   GDP per capita             158 non-null    float64
 5   Social support             158 non-null    float64
 6   Healthy life expectancy    158 non-null    float64
 7   Freedom                    158 non-null    float64
 8   Generosity                 158 non-null    float64
 9   Perceptions of corruption  158 non-null    float64
 10  Year                       158 non-null    int64
 11  Dystopia Residual          158 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 14.9+ KB

In [23]:
dataframes['df_2'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    157 non-null    object
 1   Region                     157 non-null    object
 2   Happiness Rank             157 non-null    int64
 3   Happiness Score            157 non-null    float64
 4   GDP per capita             157 non-null    float64
 5   Social support             157 non-null    float64
 6   Healthy life expectancy    157 non-null    float64
 7   Freedom                    157 non-null    float64
 8   Generosity                 157 non-null    float64
 9   Perceptions of corruption  157 non-null    float64
 10  Year                       157 non-null    int64
 11  Dystopia Residual          157 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 14.8+ KB

In [24]:
dataframes['df_3'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    155 non-null    object
 1   Region                     0 non-null      object
 2   Happiness Rank             155 non-null    int64
 3   Happiness Score            155 non-null    float64
 4   GDP per capita             155 non-null    float64
 5   Social support             155 non-null    float64
 6   Healthy life expectancy    155 non-null    float64
 7   Freedom                    155 non-null    float64
 8   Generosity                 155 non-null    float64
 9   Perceptions of corruption  155 non-null    float64
 10  Year                       155 non-null    int64
 11  Dystopia Residual          155 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 14.7+ KB

In [25]:
dataframes['df_4'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    156 non-null    object
 1   Region                     0 non-null      object
 2   Happiness Rank             156 non-null    int64
 3   Happiness Score            156 non-null    float64
 4   GDP per capita             156 non-null    float64
 5   Social support             156 non-null    float64
 6   Healthy life expectancy    156 non-null    float64
 7   Freedom                    156 non-null    float64
 8   Generosity                 156 non-null    float64
 9   Perceptions of corruption  155 non-null    float64
 10  Year                       156 non-null    int64
 11  Dystopia Residual          0 non-null      object
dtypes: float64(7), int64(2), object(3)
memory usage: 14.8+ KB

In [26]:
dataframes['df_5'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    156 non-null    object
 1   Region                     0 non-null      object
 2   Happiness Rank             156 non-null    int64
 3   Happiness Score            156 non-null    float64
 4   GDP per capita             156 non-null    float64
 5   Social support             156 non-null    float64
 6   Healthy life expectancy    156 non-null    float64
 7   Freedom                    156 non-null    float64
 8   Generosity                 156 non-null    float64
 9   Perceptions of corruption  156 non-null    float64
 10  Year                       156 non-null    int64
 11  Dystopia Residual          0 non-null      object
dtypes: float64(7), int64(2), object(3)
memory usage: 14.8+ KB

In [33]:
for i in range(1, 6):
    df = dataframes[f'df_{i}']
    num_nans = df.isna().sum().sum()
    nan_columns = df.columns[df.isna().any()].tolist()  # Get columns with NaNs
    print(f"Number of NaNs in {i}th dataframe: {num_nans}")
    if num_nans > 0:
        print(f"---Columns with NaNs in {i}th dataframe: {nan_columns}")

Number of NaNs in 1th dataframe: 0
Number of NaNs in 2th dataframe: 0
Number of NaNs in 3th dataframe: 155
---Columns with NaNs in 3th dataframe: ['Region']
Number of NaNs in 4th dataframe: 313
---Columns with NaNs in 4th dataframe: ['Region', 'Perceptions of corruption', 'Dystopia Residual']
Number of NaNs in 5th dataframe: 312
---Columns with NaNs in 5th dataframe: ['Region', 'Dystopia Residual']

In [34]:
for df_key in dataframes:
    dataframes[df_key] = dataframes[df_key].fillna({
        'Region': 'Unknown',  # Fill missing 'Region' with 'Unknown'
        'Perceptions of corruption': 0,  # Fill missing with 0
        'Dystopia Residual': 0  # Fill missing with 0
    })

C:\Users\hp\AppData\Local\Temp\ipykernel_3816\99573059.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframes[df_key] = dataframes[df_key].fillna({

In [35]:
for i in range(1, 6):
    num_nans = dataframes[f'df_{i}'].isna().sum().sum()
    print(f"Number of NaNs in {i}th dataframe: {num_nans}")

Number of NaNs in 1th dataframe: 0
Number of NaNs in 2th dataframe: 0
Number of NaNs in 3th dataframe: 0
Number of NaNs in 4th dataframe: 0
Number of NaNs in 5th dataframe: 0

In [36]:
# Export each dataframe to a CSV file
for i in range(1, 6):
    file_name = f"cleaned_20{i+14}.csv"  # Corresponding file names like cleaned_2015.csv, cleaned_2016.csv, etc.
    dataframes[f'df_{i}'].to_csv(file_name, index=False)
    print(f"Exported df_{i} to {file_name}")

Exported df_1 to cleaned_2015.csv
Exported df_2 to cleaned_2016.csv
Exported df_3 to cleaned_2017.csv
Exported df_4 to cleaned_2018.csv
Exported df_5 to cleaned_2019.csv

In [41]:
dataframes['df_1']['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [40]:
dataframes['df_2']['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [39]:
dataframes['df_3'][['Country','Region']]

                      Country   Region
0                      Norway  Unknown
1                     Denmark  Unknown
2                     Iceland  Unknown
3                 Switzerland  Unknown
4                     Finland  Unknown
..                        ...      ...
150                    Rwanda  Unknown
151                     Syria  Unknown
152                  Tanzania  Unknown
153                   Burundi  Unknown
154  Central African Republic  Unknown

[155 rows x 2 columns]

In [51]:
# mapping countries to their respective regions
country_to_region = {
    'Norway': 'Western Europe',
    'Denmark': 'Western Europe',
    'Iceland': 'Western Europe',
    'Switzerland': 'Western Europe',
    'Finland': 'Western Europe',
    'Netherlands': 'Western Europe',
    'Canada': 'North America',
    'New Zealand': 'Australia and New Zealand',
    'Sweden': 'Western Europe',
    'Australia': 'Australia and New Zealand',
    'Israel': 'Middle East and Northern Africa',
    'Costa Rica': 'Latin America and Caribbean',
    'Austria': 'Western Europe',
    'United States': 'North America',
    'Ireland': 'Western Europe',
    'Germany': 'Western Europe',
    'Belgium': 'Western Europe',
    'Luxembourg': 'Western Europe',
    'United Kingdom': 'Western Europe',
    'Chile': 'Latin America and Caribbean',
    'United Arab Emirates': 'Middle East and Northern Africa',
    'Brazil': 'Latin America and Caribbean',
    'Czech Republic': 'Central and Eastern Europe',
    'Argentina': 'Latin America and Caribbean',
    'Mexico': 'Latin America and Caribbean',
    'Singapore': 'Southeastern Asia',
    'Malta': 'Southern Europe',
    'Uruguay': 'Latin America and Caribbean',
    'Guatemala': 'Latin America and Caribbean',
    'Panama': 'Latin America and Caribbean',
    'France': 'Western Europe',
    'Thailand': 'Southeastern Asia',
    'Taiwan Province of China': 'Eastern Asia',
    'Spain': 'Western Europe',
    'Qatar': 'Middle East and Northern Africa',
    'Colombia': 'Latin America and Caribbean',
    'Saudi Arabia': 'Middle East and Northern Africa',
    'Trinidad and Tobago': 'Latin America and Caribbean',
    'Kuwait': 'Middle East and Northern Africa',
    'Slovakia': 'Central and Eastern Europe',
    'Bahrain': 'Middle East and Northern Africa',
    'Malaysia': 'Southeastern Asia',
    'Nicaragua': 'Latin America and Caribbean',
    'Ecuador': 'Latin America and Caribbean',
    'El Salvador': 'Latin America and Caribbean',
    'Poland': 'Central and Eastern Europe',
    'Uzbekistan': 'Central and Eastern Europe',
    'Italy': 'Western Europe',
    'Russia': 'Central and Eastern Europe',
    'Belize': 'Latin America and Caribbean',
    'Japan': 'Eastern Asia',
    'Lithuania': 'Central and Eastern Europe',
    'Algeria': 'Middle East and Northern Africa',
    'Latvia': 'Central and Eastern Europe',
    'South Korea': 'Eastern Asia',
    'Moldova': 'Central and Eastern Europe',
    'Romania': 'Central and Eastern Europe',
    'Bolivia': 'Latin America and Caribbean',
    'Turkmenistan': 'Central Asia',
    'Kazakhstan': 'Central Asia',
    'North Cyprus': 'Middle East and Northern Africa',
    'Slovenia': 'Central and Eastern Europe',
    'Peru': 'Latin America and Caribbean',
    'Mauritius': 'Sub-Saharan Africa',
    'Cyprus': 'Southern Europe',
    'Estonia': 'Central and Eastern Europe',
    'Belarus': 'Central and Eastern Europe',
    'Libya': 'Middle East and Northern Africa',
    'Turkey': 'Middle East and Northern Africa',
    'Paraguay': 'Latin America and Caribbean',
    'Hong Kong S.A.R., China': 'Eastern Asia',
    'Philippines': 'Southeastern Asia',
    'Serbia': 'Central and Eastern Europe',
    'Jordan': 'Middle East and Northern Africa',
    'Hungary': 'Central and Eastern Europe',
    'Jamaica': 'Latin America and Caribbean',
    'Croatia': 'Central and Eastern Europe',
    'Kosovo': 'Central and Eastern Europe',
    'China': 'Eastern Asia',
    'Pakistan': 'Southern Asia',
    'Indonesia': 'Southeastern Asia',
    'Venezuela': 'Latin America and Caribbean',
    'Montenegro': 'Central and Eastern Europe',
    'Morocco': 'Middle East and Northern Africa',
    'Azerbaijan': 'Central and Eastern Europe',
    'Dominican Republic': 'Latin America and Caribbean',
    'Greece': 'Southern Europe',
    'Lebanon': 'Middle East and Northern Africa',
    'Portugal': 'Southern Europe',
    'Bosnia and Herzegovina': 'Central and Eastern Europe',
    'Honduras': 'Latin America and Caribbean',
    'Macedonia': 'Central and Eastern Europe',
    'Somalia': 'Sub-Saharan Africa',
    'Vietnam': 'Southeastern Asia',
    'Nigeria': 'Sub-Saharan Africa',
    'Tajikistan': 'Central Asia',
    'Bhutan': 'Southern Asia',
    'Kyrgyzstan': 'Central Asia',
    'Nepal': 'Southern Asia',
    'Mongolia': 'Eastern Asia',
    'South Africa': 'Sub-Saharan Africa',
    'Tunisia': 'Middle East and Northern Africa',
    'Palestinian Territories': 'Middle East and Northern Africa',
    'Egypt': 'Middle East and Northern Africa',
    'Bulgaria': 'Central and Eastern Europe',
    'Sierra Leone': 'Sub-Saharan Africa',
    'Cameroon': 'Sub-Saharan Africa',
    'Iran': 'Middle East and Northern Africa',
    'Albania': 'Southern Europe',
    'Bangladesh': 'Southern Asia',
    'Namibia': 'Sub-Saharan Africa',
    'Kenya': 'Sub-Saharan Africa',
    'Mozambique': 'Sub-Saharan Africa',
    'Myanmar': 'Southeastern Asia',
    'Senegal': 'Sub-Saharan Africa',
    'Zambia': 'Sub-Saharan Africa',
    'Iraq': 'Middle East and Northern Africa',
    'Gabon': 'Sub-Saharan Africa',
    'Ethiopia': 'Sub-Saharan Africa',
    'Sri Lanka': 'Southern Asia',
    'Armenia': 'Southern Europe',
    'India': 'Southern Asia',
    'Mauritania': 'Sub-Saharan Africa',
    'Congo (Brazzaville)': 'Sub-Saharan Africa',
    'Georgia': 'Southern Europe',
    'Congo (Kinshasa)': 'Sub-Saharan Africa',
    'Mali': 'Sub-Saharan Africa',
    'Ivory Coast': 'Sub-Saharan Africa',
    'Cambodia': 'Southeastern Asia',
    'Sudan': 'Sub-Saharan Africa',
    'Ghana': 'Sub-Saharan Africa',
    'Ukraine': 'Central and Eastern Europe',
    'Uganda': 'Sub-Saharan Africa',
    'Burkina Faso': 'Sub-Saharan Africa',
    'Niger': 'Sub-Saharan Africa',
    'Malawi': 'Sub-Saharan Africa',
    'Chad': 'Sub-Saharan Africa',
    'Zimbabwe': 'Sub-Saharan Africa',
    'Lesotho': 'Sub-Saharan Africa',
    'Angola': 'Sub-Saharan Africa',
    'Afghanistan': 'Southern Asia',
    'Botswana': 'Sub-Saharan Africa',
    'Benin': 'Sub-Saharan Africa',
    'Madagascar': 'Sub-Saharan Africa',
    'Haiti': 'Latin America and Caribbean',
    'Yemen': 'Middle East and Northern Africa',
    'South Sudan': 'Sub-Saharan Africa',
    'Liberia': 'Sub-Saharan Africa',
    'Guinea': 'Sub-Saharan Africa',
    'Togo': 'Sub-Saharan Africa',
    'Rwanda': 'Sub-Saharan Africa',
    'Syria': 'Middle East and Northern Africa',
    'Tanzania': 'Sub-Saharan Africa',
    'Burundi': 'Sub-Saharan Africa',
    'Central African Republic': 'Sub-Saharan Africa',
}


# function to update the 'Region' column based on the country
def fill_missing_region(df):
    df['Region'] = df.apply(lambda row: country_to_region.get(row['Country'], row['Region']), axis=1)
    return df

# Apply to df_3
dataframes['df_3'] = fill_missing_region(dataframes['df_3'])


dataframes['df_3'][['Country', 'Region']].head()

       Country          Region
0       Norway  Western Europe
1      Denmark  Western Europe
2      Iceland  Western Europe
3  Switzerland  Western Europe
4      Finland  Western Europe

In [52]:
dataframes['df_3']['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Southeastern Asia',
       'Southern Europe', 'Eastern Asia', 'Central Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [47]:
dataframes['df_4'][['Country','Region']]

                      Country   Region
0                     Finland  Unknown
1                      Norway  Unknown
2                     Denmark  Unknown
3                     Iceland  Unknown
4                 Switzerland  Unknown
..                        ...      ...
151                     Yemen  Unknown
152                  Tanzania  Unknown
153               South Sudan  Unknown
154  Central African Republic  Unknown
155                   Burundi  Unknown

[156 rows x 2 columns]

In [53]:
# apply to df_4
dataframes['df_4'] = fill_missing_region(dataframes['df_4'])

In [54]:
dataframes['df_4']['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Latin America and Caribbean', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Southern Europe', 'Unknown',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Central Asia', 'Southern Asia'], dtype=object)

In [48]:
dataframes['df_5'][['Country','Region']]

                      Country   Region
0                     Finland  Unknown
1                     Denmark  Unknown
2                      Norway  Unknown
3                     Iceland  Unknown
4                 Netherlands  Unknown
..                        ...      ...
151                    Rwanda  Unknown
152                  Tanzania  Unknown
153               Afghanistan  Unknown
154  Central African Republic  Unknown
155               South Sudan  Unknown

[156 rows x 2 columns]

In [55]:
dataframes['df_5'] = fill_missing_region(dataframes['df_5'])

In [56]:
dataframes['df_5']['Region'].unique()

array(['Western Europe', 'Australia and New Zealand', 'North America',
       'Latin America and Caribbean', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Southern Europe', 'Unknown',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Central Asia', 'Southern Asia'], dtype=object)

In [57]:
# directory for saving
output_directory = r"C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned"

# export each dataframe to a CSV file
for i in range(1, 6):
    # correct format
    file_name = f"cleaned_20{i+14}.csv"  # file names like cleaned_2015.csv, cleaned_2016.csv, etc.
    
    # construct the full file path
    file_path = os.path.join(output_directory, file_name)
    
    # to CSV
    dataframes[f'df_{i}'].to_csv(file_path, index=False)
    
    # confirmation message
    print(f"Exported df_{i} to {file_path}")

Exported df_1 to C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned\cleaned_2015.csv
Exported df_2 to C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned\cleaned_2016.csv
Exported df_3 to C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned\cleaned_2017.csv
Exported df_4 to C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned\cleaned_2018.csv
Exported df_5 to C:\Users\hp\Downloads\DataViz M2\st-dashboard\data\cleaned\cleaned_2019.csv

In [59]:
dataframes['df_1']['GDP per capita'].isna().sum()

0

In [67]:
dataframes['df_1'][['Happiness Rank','Happiness Score']]

     Happiness Rank  Happiness Score
0                 1            7.587
1                 2            7.561
2                 3            7.527
3                 4            7.522
4                 5            7.427
..              ...              ...
153             154            3.465
154             155            3.340
155             156            3.006
156             157            2.905
157             158            2.839

[158 rows x 2 columns]

In [63]:
dataframes['df_1']['Happiness Score'].min()

2.839

In [64]:
dataframes['df_1']['Happiness Score'].max()

7.587